{
  "account_sid": "",
  "audio_callback": "/audio",
  "auth_token": "",
  "confirmation_callback": "/confirm",
  "phone_number": "",
  "select_lang_callback": "",
  "sms_callback": "/sms",
  "voice_callback": "/voice"
}
