{
  "account_sid": "",
  "audio_callback": "/audio",
  "auth_token": "",
  "confirmatio_callback": "/confirm",
  "hostname": "",
  "phone_number": "",
  "sms_callback": "/sms",
  "voice_callback": "/voice"
}
